@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

/* Header section */

.header{
  padding: 5px 25px;
  background: #00092C;
  border-bottom: 4px solid #00ABB3;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 70px;
}

.logo-img img {
  max-width: 100%;
  cursor: pointer;
}

.menu-item ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item ul li {
  list-style: none;
  margin-right: 20px;
}

.menu-item ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;

}
.menu-item ul li a:hover {
  color: #00ABB3;
}

/* Home page */

.home-page {
  height: calc(100vh - 168px);
}

/* Footer section */

.footer {
  padding: 5px 25px;
  background:#00092C;
  border-top: 4px solid #00ABB3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.adress {
  text-align: center;
  color: #fff;
}

.adress h4{
  margin-bottom: 5px;
  text-transform: uppercase;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.phone {
  text-align: center;
  color: #fff;
}

.phone h4{
  margin-bottom: 5px;
  text-transform: uppercase;
}

.mesengers {
  text-align: center;
  color: #fff;
}
.mesengers h4{
  margin-bottom: 5px;
  text-transform: uppercase;
}

.fa-brands {
  margin-right: 15px;
  font-size: 32px;
}

.telegram {
  color: #0088cc;
}

.instagram {
  color: #8a3ab9;
}

.facebook {
  color: #3b5998;
}


